<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607089059424-74dbpshj4pdrgv3o1gl8sq77hu49milg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607089059424-74dbpshj4pdrgv3o1gl8sq77hu49milg</string>
	<key>API_KEY</key>
	<string>AIzaSyC1JOs1T3aleeqsKkM-DRt01jh3xfW1SUk</string>
	<key>GCM_SENDER_ID</key>
	<string>607089059424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ads.medflic</string>
	<key>PROJECT_ID</key>
	<string>medflic-521a2</string>
	<key>STORAGE_BUCKET</key>
	<string>medflic-521a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607089059424:ios:f2ddf8d18d6c2cab454505</string>
	<key>DATABASE_URL</key>
	<string>https://medflic-521a2.firebaseio.com</string>
</dict>
</plist>